footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffcc00;
}